extends layout

block content

  header(id="home-header" class="container-fluid h-sm-100 main-gradient")
    div(class="row h-100 flex-nowrap")
      div(class="col d-sm-block d-none")
        div(class="row")
          div(class="col" id="title-gradient")
      div(class="container d-flex flex-column justify-content-between")
        div(class="row")
          div(class="col-auto title text-white") Heemo
          div(class="col-md-auto" id="curve")
          div(class="col")
          //- div(class="col-md-auto text-white") A PROPOS
        div(class="row flex-nowrap")
          div(class="col-1")
          div(class="col text-intro text-center")
            p(class="text-white")= __('intro')
            p(class="big-text text-white")= __('sub_intro')
          div(class="col-1")
        div(class="row")
          div(class="col-2 d-lg-block d-none")
          div(class="col")
            form(method="post" action=`/${__('locale')}/thanks`)
              div(class="row")
                div(class="col")
                  div(class="form-group")
                  label(for="email" class="big-text text-white")!= '<i class="fas fa-arrow-right"></i> ' + __('i_am') 
                  div(class="row")
                    div(class="col")
                      div(class="row")
                        div(class="col")
                          div
                            input(class="form-check-input" type="radio" name="status" id="tenant" value="tenant" required)
                            label(class="w-100" for="tenant")
                              i(class="fas fa-check")
                              = ' ' + __('tenant')
                        div(class="col")
                          div
                            input(class="form-check-input" type="radio" name="status" id="owner" value="owner")
                            label(class="w-100" for="owner")
                              i(class="fas fa-check")
                              = ' ' +  __('owner')
                      div(class="row")
                        div(class="col")
                          input(
                            type="email"
                            name="email"
                            class="form-control"
                            id="email"
                            aria-describedby="email-help"
                            placeholder=__('email_address')
                            required
                          )
                    div(style="display: none")
                      input(
                        type="name"
                        name="name"
                      )
                div(class="d-flex flex-column justify-content-end col-md-auto pl-md-0 pr-md-0")
                  button(id="send-button" type="submit" class="btn btn-primary w-100 mt-md-0 mt-2")= __('send')
              div(class="row")
                div(class="col")
                  small(id="email-help" class="form-text text-white")= __('never_share')
          div(class="col-2 d-lg-block d-none")
        div(class="row d-md-none d-block") 
          div(class="col text-white text-center big-text") <i class="fas fa-chevron-down"></i>        
      div(class="col d-sm-block d-none")

  div(class="home-header-bottom")
    div(class="container-fluid")
      div(class="row h-100 flex-nowrap")
        div(class="col")
          div(class="container")
            div(class="row align-items-center ")
              div(class="col text-center")
                  div(class="d-md-block d-none")            
                  p(class="mt-3 m-0 green-title")!= '<strong>' + __('feat_search') + '</strong>'
                  img(width="95%" height="auto" class="schema-image mt-2 mb-4 shadow bg-white rounded border-0" src="images/loc_search.png" alt="schema page de recherche")
              div(class="col text-center")
                  p(class="mt-3 m-0 green-title")!= '<strong>' + __('feat_files') + '</strong>'
                  img(width="95%" height="auto" class="schema-image mt-2 mb-4 shadow bg-white rounded border-0" src="images/loc_files.png" alt="schema page de dossier en ligne")
              div(class="col text-center")
                  div(class="d-md-block d-none")            
                  p(class="mt-3 m-0 green-title")!= '<strong>' + __('feat_alert') + '</strong>'
                  img(width="95%" height="auto" class="schema-image mt-2 mb-4 shadow bg-white rounded border-0" src="images/loc_alert.png" alt="schema page de notification")
  
  div(class="container pb-5")
    div(class="row flex-nowrap")
      div(id="efficace" class="col-4 purple-title font-weight-bold text-uppercase")= __('efficiency')
      div(class="col text-secondary")
        != '<strong>' + __('efficiency_title_1') + '</strong>'
        <br>
        != __('efficiency_long_1')


  div(class="container-fluid")
    div(class="row flex-nowrap bg-light")
      div(class="col")
        div(class="container border-top pt-5 pb-5")
          div(class="row align-items-center")
            div(class="col text-center")
                div(class="d-md-block d-none")            
                p(class="mt-3 m-0 green-title")!= '<strong>' + __('feat_ow_availability') + '</strong>'
                img(width="95%" height="auto" class="schema-image mt-2 mb-4 shadow bg-white rounded border-0" src="images/ow_availability.png" alt="schema page de disponibilité")
            div(class="col text-center")
                p(class="mt-3 m-0 green-title")!= '<strong>' + __('feat_ow_manage') + '</strong>'
                img(width="95%" height="auto" class="schema-image mt-2 mb-4 shadow bg-white rounded border-0" src="images/ow_manage.png" alt="schema page gestion")
            div(class="col text-center")
                div(class="d-md-block d-none")            
                p(class="mt-3 m-0 green-title")!= '<strong>' + __('feat_ow_search') + '</strong>'
                img(width="95%" height="auto" class="schema-image mt-2 mb-4 shadow bg-white rounded border-0" src="images/ow_search.png" alt="schema page de recherche")

          div(class="row flex-nowrap pt-2")
            div(class="col-4")
            div(class="col text-secondary")
              != '<strong>' + __('efficiency_title_2') + '</strong>'
              <br>
              != __('efficiency_long_2')


  //- QUALITY BLOCK ----------------------- 
  div(class="container-fluid")
    div(class="row flex-nowrap")
      div(class="col")
        div(class="container border-top border-bottom pt-5 pb-5")
          div(class="row align-items-center")
            div(class="col text-center pb-2")
                div(class="d-md-block d-none")            
                img(width="95%" height="auto" class="schema-image mt-2 mb-4 shadow bg-white rounded border-0" src="images/quality.png" alt="schema page de qualité")
          div(class="row flex-nowrap")
            div(id="qualite" class="col-4 purple-title font-weight-bold text-uppercase")= __('quality')
            div(class="col text-secondary")
              = __('quality_long_1')
              <br>
              = __('quality_long_2')

  //- COMMUNITY BLOCK ---------------------
  div(class="container-fluid")
    div(class="row flex-nowrap bg-light")
      div(class="col")
        div(class="container border-top border-bottom pt-5 pb-5")
          div(class="row align-items-center")
            div(class="col text-center pb-2")
                div(class="d-md-block d-none")            
                img(width="95%" height="auto" class="schema-image mt-2 mb-4 shadow bg-white rounded border-0" src="images/community.png" alt="schema page de communauté")
          div(class="row flex-nowrap")
            div(id="participatif" class="col-4 purple-title font-weight-bold text-uppercase")= __('community')
            div(class="col text-secondary")= __('community_long')

  svg(width="0" height="0" class="d-block")
      linearGradient(id="lg" x1="0" x2="0" y1="0" y2="1")
        stop(offset="0%" stop-color="#0072ff")
        stop(offset="100%" stop-color="#00dbff")
  
  footer(id="home-footer" class="main-gradient")
    div(class="container text-white")
      //- div(class="row flex-nowrap")
      //-   div(class="col text-center")
      div(class="row")
        div(class="col")
          h5(class="border-bottom border-1") © 2018 Heemo
        div(class="col")
          h5(class="border-bottom border-1")= __('more_info')
          p(class="mb-1")
            a(href="https://www.facebook.com/Heemo" class="text-white") <i class="fab fa-facebook"></i> Heemo 
          p(class="mb-1")
            a(class="text-white" href="http://blog.henricazottes.fr") <i class="fas fa-link"></i> Devblog
        div(class="col")
          h5(class="border-bottom border-1") Contact
          p(class="text-white mb-1")
            i(class="fas fa-envelope")
            |  contact@heemo.co
          a(class="text-white" href="m.me/Heemo")
            i(class="fab fa-facebook-messenger")
            |  Heemo


            
              
        




