doctype html
html
  head
    title Heemo
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    link(rel="icon" type="image/png" href="images/logo.png")
    link(
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    )
    script(src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" data-auto-replace-svg="nest")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    <!-- Bootstrap CSS -->
    link(
      rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    )
  body
    block content
