extends layout

block content
  div(id="first-screen")

    div(id="home-header" class="container-fluid h-100 main-gradient")
      div(class="row h-100 flex-nowrap")
        div(class="col h-100 d-sm-block d-none")
          div(class="row")
            div(class="col" id="title-gradient")
        div(class="container d-flex flex-column")
          div(class="row")
            div(class="col-auto title text-white" onclick=`window.location="/${__('locale')}";`) Heemo
            div(class="col-md-auto" id="curve")
            div(class="col")
          div(class="row h-100 text-intro")
            div(class="col d-flex align-items-center justify-content-center")
              p(class="text-white big-text text-center")= message

        div(class="col d-sm-block d-none")