@font-face {
  font-family: "Free Sans";
  src: url("/fonts/FreeSans.ttf");
}
@font-face {
  font-family: "Free Sans";
  src: url("/fonts/FreeSansBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Free Sans";
  src: url("/fonts/FreeSansOblique.ttf");
  font-style: oblique;
}
@font-face {
  font-family: "Free Sans";
  src: url("/fonts/FreeSansBoldOblique.ttf");
  font-weight: bold;
  font-style: oblique;
}

body {
  padding: 50px;
  font: 14px;
}

html, body {
  font-family: "Free Sans" !important;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}


.text-intro, .big-text {
  line-height: normal;
}

.text-intro {
  font-size: 2em;  
  margin: auto;
  text-align: left;
  display: inline-block;
}

.text-intro > p {
  margin-bottom: 0px;
}

.big-text {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

.schema-image {
  max-width: 350px;
  min-width: 250px;
}

#first-screen {
  width: 100%;
  height: 100%;
}

#title-gradient {
  background: #00dbff;
  height: 3.75em;
  background: -moz-linear-gradient(left, #00dbff 0%, #0072ff 100%);
  background: -webkit-linear-gradient(left, #00dbff 0%,#0072ff 100%);
  background: linear-gradient(to right, #00dbff 0%,#0072ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dbff', endColorstr='#0072ff',GradientType=1 );
}

.card > a:hover {
  text-decoration: none;
}

.title {
  font-size: 2.5em;
  background-color: #0072ff;
  font-weight: bold;
  cursor: pointer;
}

#curve {
  border-top-right-radius: 50%; 
  border-bottom-right-radius: 50%;
  background-color: #0072ff;
  width: 3.75em;
}

#email-help {
  font-size: 1em;
}


#home-header {
  padding-top: 50px;
  padding-bottom: 1em;
  height: 100%;
  font-size: 0.9em;
}

#home-footer {
  min-height: 200px;
  padding-top: 50px;
  padding-bottom: 1em;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: 100%;
    z-index: -1;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    font-size: 1.1em;
    line-height: 2.2em;
    cursor: pointer;
}

[type="radio"]:not(:checked) + label {
    background-color: transparent;
    color: white;
    
}

[type="radio"]:checked + label {
  background-color: white;
  color: #597bf0;
}

[type="radio"]:not(:checked) + label > i {
  display: none;
}

#send-button {
  background-color: #842cff;
  border-color: #842cff;
}

.main-gradient {
  background: #842cff;
  background: -moz-linear-gradient(top, #842cff 0%, #41a8e9 100%);
  background: -webkit-linear-gradient(top, #842cff 0%,#41a8e9 100%);
  background: linear-gradient(to bottom, #842cff 0%,#41a8e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#842cff', endColorstr='#41a8e9',GradientType=0 );
}

@media (max-width: 400px) {
  .row > .text-uppercase {
    font-size: 0.8em;
  }

  .text-intro {
    font-size: 1.5em;    
  }
}

@media (min-width: 768px) {
  #home-header {
    height: 60%;
    padding-bottom: 3em;
  }

  .home-header-bottom {
    min-height: 40%;
  }

  #descriptions {
    font-size: 1em;
  }

  .col.advantage {
    page-break-after: auto;
  }
}

.col.advantage {
  page-break-after: always;
}

.advantage-title {
  text-align: center;
  font-weight: bold;
  color: #842cff;
  margin-bottom: 0px;
}

.purple-title {
  color: #842cff
}

.green-title {
  color: #00e68a;
}

.card > .card-footer {
  text-align: right;
  color: #32325db4;
  font-weight: bold;
  font-size: 0.8em;
}

.icon-advantage svg * {
  fill: url(#lg);
}

.icon-advantage {
  font-size: 4em;
}

/* .col {
  background-color: pink;
}

.col-md-auto {
  background-color: #00dbff;
}

.row {
  background-color: orange;
} */